.products {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: s;
}
.product_item {
  display: flex;
    flex-direction: column;
    align-items: center;
   border: 2px solid;
    background-color: antiquewhite;
}
.pagination {
   padding: 10px;
   display: flex;
   align-items: center;
   justify-content: center;
   margin: 15px 0px;
}
.pagination>span {
  padding: 15px 20px;
  border: 1px solid;
  cursor: pointer;
}
.pagination_selected {
  background-color: aquamarine;
}